
body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.full-container{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    background-color: white;
    display: flex;         
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 600px;
    margin: auto;
    box-shadow: 2px 3px 24px 0px rgba(206,197,197,0.75);
-webkit-box-shadow: 2px 3px 24px 0px rgba(206,197,197,0.75) ;
-moz-box-shadow: 2px 3px 24px 0px rgba(206,197,197,0.75) ;
}
.container-form{
    width: 70%;
}
.logo{
    width:100%;
    display: flex;
    justify-content: flex-start;
    height: 75px;
}


form .text-block{
    margin: 10px 0;;
    display: block;
    border-style: none;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 4cqmin;
}
h1{
    margin-bottom: 30px;
}  
.btn{
    width: 100%;
    border-radius: 40px;
    display: block;
    margin: 30px auto;
    border-style: none;
    padding: 10px;
    color: white;
    background-color: #0a66c2;
    font-size: 15px;
}
.signApple{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.or{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    border-top: 1px solid #0000004f;
    flex-grow: 1;
}


svg{
    margin-right: 20px;
}

a{
    color: #0a66c2;
    text-decoration: none;
    font-weight: bold;
}
.joinNow{
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: 768px) {
    .container{
    width: 80%;
    height: 600px;
}
form .text-block{
    margin: 10px 0;
    width: 100%;
    height: 50px;
    padding: 0 10px;
}
h1{
    font-size: 30px;
}
ul{
    display: none;
}
}
@media (max-width: 992px) {

h1{
    font-size: 30px;
    text-align: left;
}
ul{
    display: none;
}
}