@model Products.ViewModel.ProductModel

@{
    ViewData["Title"] = "Edit";
}
<div class="container main-banner" id="top">
    <div class="row">
<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category.CategoryName" class="control-label"></label>
                <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.list, "CategoryId","CategoryName"))" class="form-control form-select"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            .

            <div class="form-group">
                <label asp-for="File" class="control-label">Image</label>
                <input asp-for="File" type="file" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <div class="form-group">
                <img src="~/Images/@Model.ImageURL" style="max-width:50px" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
