@model Products.ViewModel.HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are Hexashop</h4>
                            <div class="main-border-button">
                                <a href="#">Purchase Now!</a>
                            </div>
                        </div>
                        <img src="~/assets/images/left-banner-image.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">


                        @if (Model.CategoryList.Count != 0)
                        {
                            @foreach (var item in Model.CategoryList)
                            {
                                <div class="col-lg-6">
                                    <div class="right-first-image">
                                        <div class="thumb">

                                            <div class="inner-content">

                                                <h4>@item.CategoryName</h4>

                                                <span>Best Clothes For Women</span>
                                            </div>
                                            <div class="hover-content">
                                                <div class="inner">

                                                    <h4>@item.CategoryName</h4>

                                                    <div class="main-border-button">
                                                        <a asp-controller="Home" asp-action="Products" asp-route-categoryName="@item.CategoryName">Discover More</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <img src="~/Images/@item.ImageURL">

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

